@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Races";
}

<p> <a asp-controller="Home" asp-action="Menu">Back</a> |  <a asp-controller="Info" asp-action="BuildMap">Races on map</a> | <a asp-controller="Home" asp-action="Menu">One by one</a></p>