@model IEnumerable<MotoGP.Models.Race>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Races";
}

@{
    string previousMonth = null;
}

@foreach (Race item in Model)
{
    string currentMonth = item.Date.ToString("MMMM");

    @if (currentMonth != previousMonth)
    {
        <h2>@char.ToUpper(currentMonth[0])@currentMonth.Substring(1)</h2>
        previousMonth = currentMonth;
    }

    <p>@(Html.DisplayFor(modelItem => item.Date)) <a asp-controller="Info" asp-action="ShowRace" asp-route-id="@item.RaceID">@Html.DisplayFor(modelItem => item.Name)</a></p>
}

<p>
    <a asp-controller="Home" asp-action="Menu">Back</a> |
    <a asp-controller="Info" asp-action="BuildMap">Races on map</a> |
    <a asp-controller="Home" asp-action="Menu">One by one</a>
</p>
