@{
    var banners = new List<String>
        {"bannerRaces.jpg", "bannerRiders.jpg", "bannerTeams.jpg", "bannerTickets.jpg"};
    int bannerNumber = (int)ViewData["BannerNr"];
    string bannerImage = banners[bannerNumber];
}

<style>
    .banner {
        width: 100%;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - MotoGP </title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <a asp-controller="Home" asp-action="Index">
        <img class="banner" src="~/images/banners/@bannerImage" />
    </a>

    <h1>@ViewData["Title"]</h1>

    <div>
        @RenderBody()
    </div>
</body>
</html>
