<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - MvcMovie</title>
</head>
<body>
    <h1>MvcMovie - @ViewBag.Title</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
